.navbar{
    box-sizing: border-box;
    margin: 0;
    background-color: #2196f3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    position: relative; /* Required for stacking order */
    font-size: 2rem;
    color: white;
    margin-left: 2rem;
}

.site-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem; /* Adjust the width of the logo */
    height: 5rem; /* Adjust the height of the logo */
    background-image: url('coin_calendar.png');
    background-repeat: no-repeat;
    background-size: contain; /* Adjust as needed */
    margin-left: -3.75rem;
}

.site-title-2{
    margin-top: 1rem;
    margin-bottom: -0.5rem;
    font-size: 1rem;
    color: white;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.navbar li.active {
    text-decoration: underline;
    border-radius: 10px;
}

.navbar li:hover {
    background-color: #6EB7FB;
    border-radius: 10px;
}

/* Styles for the legend section */
.legend {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem; /* Spacing between legend items */
    font-size: 1rem;
    color: rgb(255, 251, 0); /* Ensure text is white */
}

/* Styles for the legend items */
.legend-item {
    width: 1rem; /* Width of the colored square */
    height: 1rem; /* Height of the colored square */
    display: inline-block;
}

/* Define colors for legend items */
.orange-square {
    background-color: orange; /* Orange color for expenses */
}

.blue-square {
    background-color: blue; /* Blue color for events */
}
