* {
    margin: 0;
    box-sizing: border-box;
    font-family: "CustomFont";
}

@font-face {
    font-family: "CustomFont";
    src: url("../../fonts/PaytoneOne-Regular.ttf");
}

.signupPage {
    font-size: 1.25em;
    background: linear-gradient(22deg, rgba(2,0,36,1) 0%, rgba(0,133,255,1) 35%, rgba(0,212,255,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupCover {
    background-color: white;
    width: 30%;
    height: 80%;
    position: relative;
    margin-top: 1vw;
    border-radius: 2em;
    /* box-shadow: 0 0.188em 1.550em rgb(156, 156, 156); */
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.signupInput{
    border: none;
    background-color: rgb(229, 226, 226);
    width: 15rem;
    border-radius: 0.25em;
    text-align: center;
    padding: 1em;
    font-size: 0.75em;
}

.signupText{
    border: none;
    width: 100%;
    text-align: left;
    padding: 0em;
    font-size: 1rem;
}

.signupPage .pagetitle{
    font-size: 3.5vw;
    color: white;
    margin-top: -1rem;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.pwtext{
    border: none;
    width: 100%;
    text-align: right;
    padding: 0em;
    font-size: 1rem;
}

.signupInput:focus {
    outline-color: rgb(182, 182, 182);
}

.signupBtn {
    width: 100%; /* Take up the entire width of its parent */
    font-size: 20px;
    height: 4rem;
    color: white;
    background-color: rgb(32, 177, 255);
    transition: 0.5s;
    border-radius: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2); /* Adjust shadow */
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
}



.signupBtn:hover {
    background-color: rgb(27, 146, 211);
}

.signupBtn:active {
    background-color: rgb(20, 114, 165);
}
