.App {
  background-color: #f0f0f0;
  padding: 20px;
}

.container {
  display: flex;
}

.add-event-container {
  background-color: #2196f3; /* Blue color */
  padding: 20px;
  margin-right: 4px;
  width: 220px;
  border-radius: 50px;
}

.add-event {
  color: white;
}

.calendar-container {
  flex-grow: 1;
}

.event-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date-pickers {
  margin-bottom: 10px;
}

.date-pickers > * {
  margin-right: 10px;
}

input[type="text"],
button {
  margin-right: 10px;
}
